
.button{
    margin-top: 30px;
}
.button button{
    font-weight: 600;
    border-radius: 6px;
    border: none;
    padding: 5px 5px;
}
.button button:first-child{
    background-color: red;
    color: white;
    margin-left: 10px;
}
.buttonSubmit{
    background-color: #3E65FE;
    color: white;
    margin-left: 10px;
    width: 100px;
    font-weight: 600;
    border-radius: 6px;
    border: none;
    padding: 5px 5px;
}
.exam{
    padding: 30px;
    padding-top: 10px;
    font-weight: 800;
    height: 80vh;
    padding-right: 0px;
}
.exam__title{
    font-size: 20px;
    margin-bottom: 10px;
}
.exam p{
    margin: 0;
}
.exam__container{
    display: flex;
    justify-content: space-between;
}
.exam__taskBar{
    max-width: 40%;
}
.exam__main{
    width: 70vw;
    height: 80vh;
    overflow-y: scroll;
}
.exam__listQuestion{
    font-size: 18px;
    margin-bottom: 32px;
}
.exam__numberQuestions{
    display: flex;
    flex-wrap: wrap;
}
.exam__numberBox{
    border: 1px solid blueviolet;
    border-radius: 8px;
    margin-right: 5px;
    font-weight: 600;
    width: calc(20% - 20px/3);
    height: 25px;
    text-align: center;
    margin-bottom: 5px;
}
.exam__questions{
    border: 2px solid #ddd;
    border-radius: 10px;
    margin-bottom: 10px;
    padding: 20px;
    width: 90%;
}
.exam__answers{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}
.exam__answers label{
    margin-bottom: 18px;
    width: 50%;
}