
.body{
    background-image: url("../../../../anh_ngang.png");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0;
    margin: 0;
    height: 70vh;
}
.body p{
    margin: 0;
}
.body__container{
    margin-left: 20px;
    margin-right: 20px;
}
.body__introduce p:last-child{
    margin-top: 10px;
}
.body__tool{
    margin-top: 10px;
}
.body__tool button:last-child{
    margin-left: 10px;
}
.body__tool button{
    background-color: #D1EE9D;
    font-size: 15px;
    font-weight: 600;
    padding: 5px 10px;
    border-radius: 10px;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;
}
.body__tool button:hover{
    opacity: 0.7;
}